form.catalog-form {
    margin: 0;
}

form.catalog-form input, button[type=submit] {
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

form.catalog-form button[type=submit] {
    margin: 0 10px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background-color: #536fb8;
}

form.catalog-form button[type=submit]:hover {
    background-color: #4e5fa3;
}